# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.ipynb_checkpoints
.env

# Datasets & Heavy Files
training/datasets/
test_eurosat.zip
test_eurosat/

# Heavy Models (>100MB)
backend/model/cnn_eurosat.keras

# Node.js (Frontend)
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# OS
.DS_Store
Thumbs.db
